{% extends "mainapp/base.html" %}

{% load staticfiles %}

{% block title%}
Главная - Социофобия на виражах
{% endblock %}

{% block preheader %}
    <header>
        <div class="container">
            <div class="row my-3">
                <div class="col-md-2">
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 text-center"><a href="contacts/" class="btn btn-link">Контакты</a></div>
                        <div class="col-md-3"><a href="" class="btn btn-link">+7(812)999-99-99</a></div>
                        <div class="col-md-3"><a href="" class="btn btn-link">Мои покупки</a></div>
                        <div class="col-md-2"><a href="{% url 'auth:edit' %}" class="btn btn-link">{{ user.username }}</a></div>
                        <div class="col-md-2 text-right">
                            {% if user.is_authenticated %}
                                <a href="{% url 'auth:logout' %}" class="btn-primary btn">Выйти</a>
                            {% else %}
                                 <a href="{% url 'auth:login' %}" class="btn-primary btn">Войти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block header %}
<header class="welcome-block">
    <div class="container-fluid h100">
        <div class="row h100">
            <div class="col-md-2 d-flex flex-column justify-content-end">
                <form>
                    <div class="form-row align-items-center">
                        <div>
                            <div class="input-group search-input radius-100 white-black-gradient">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img src="{% static 'img/search-icon.svg' %}" alt="" height="20"></div>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-10">
                <section class="text-left">
                    <h1>
                        <small>Книжный магазин</small>
                        <br>Социофобия <br> на виражах
                    </h1>
                </section>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="album py-5">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-2">
                    <div class="row">
                        <div class="sidebar">
                            {% include 'mainapp/inc_category_menu.html'%}
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Бестселлеры</h3>
                        </div>

                        {% for book in content.0 %}

                            <div class="col-md-3">
                                <div class="card mb-4 box-shadow text-center bordered">
                                    <a href="{% url 'product:detail' book.id %}"><img src={{book.image.url}} alt="Card image cap"></a>
                                    <div class="card-body">
                                        <p class="book-name"><a href="{% url 'product:detail' book.id %}">{{book.name}}</a></p>
                                        <p class="author-name"><a href="{% url 'product:detail' book.id %}">{{book.author}}</a></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="price-catalog">{{book.price}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>


            </div>
            <div class="row">

                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="row">

                        <div class="col-md-12">
                            <h3>Новинки</h3>
                        </div>

                        {% for book in content.1 %}

                            <div class="col-md-3">
                                <div class="card mb-4 box-shadow text-center bordered">
                                    <img src="{{book.image.url}}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="book-name"><a href="book/">{{book.name}}</a></p>
                                        <p class="author-name"><a href="book/">{{book.author}}</a></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="price-catalog">{{book.price}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

